button {
    pointer-events: auto !important;
    cursor: pointer !important;
  }
  * {
    pointer-events: auto !important;
  }
  .shooting-stars, .stars-background {
    z-index: -1 !important;
  }
  .shooting-stars, .stars-background {
    pointer-events: none !important;
  }
  .my-button {
    z-index: 1000 !important;
    position: relative;
    
  }
  .my-button:hover{
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  }
  .event-card {
    width: 250px;  /* Adjust width as needed */
    min-height: 150px; /* Increase this value to make cards taller */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-card:hover {
    min-height: 150px; /* Adjust if you want to expand on hover */
    box-shadow: 
        0px 0px 15px rgba(255, 255, 255, 0.5), /* Outer White Glow */
        inset 0px 0px 15px rgba(255, 20, 147, 0.5); /* Inner Pink Glow */
}

    
  